nav {
  position: relative;
  background-color: $background-dark;
  display: flex;
  padding: 0 1em;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  &.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  & ul {
    display: flex;
    justify-content: center;
    list-style: none;
    & li {
      padding: 1em 1.5em;
    }
  }
  & a {
    color: $font-color-light;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: $font-body;
  }
  & p {
    color: $font-color-light;
    font-size: 1.5rem;
  }
}