h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headline;
  font-weight: 700;
  color: $font-color-base;
}

a,
p {
  font-family: $font-body;
  color: $font-color-base;
}

a:hover {
  color: $hover-color;
}

.top-text {
  font-size: 6rem;
  font-weight: 300;
}