@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|PT+Sans:400,700");
/* Color pallet inspired by https://www.design-seeds.com */

$background-base: #edf4ff;
$background-dark: #604580;
$font-color-base: #6d6f75;
$font-color-light:#d9def9;
$hover-color: #93b477;
/* Font variables */

$font-body: 'PT Sans',
sans-serif;
$font-headline: 'Open Sans',
sans-serif;